@font-face {
  font-family: "PingFangSC-Medium";
  src: url('~@/assets/font/PingFang/PingFangMedium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFangSC-Regular";
  src: url('~@/assets/font/PingFang/PingFangSCRegular.ttf');
  font-weight: normal;
  font-style: normal;
}